@model KURZ.Entities.Users
@{
    ViewData["Title"] = "Registro de Profesores";
    Layout = "_Authentication";
}
<form asp-action="RegisterTeachers" novalidate>
    <div class="form-group">
        <label asp-for="EMAIL" class="form-label">Correo Electrónico:</label>
        <input asp-for="EMAIL" class="form-control" />
        <span asp-validation-for="EMAIL" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IDENTICATION" class="form-label">Número de identificación:</label>
        <input asp-for="IDENTICATION" class="form-control" />
        <span asp-validation-for="IDENTICATION" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NAME" class="form-label">Nombre:</label>
        <input asp-for="NAME" class="form-control" />
        <span asp-validation-for="NAME" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LASTNAME" class="form-label">Apellidos:</label>
        <input asp-for="LASTNAME" class="form-control" />
        <span asp-validation-for="LASTNAME" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="USERNAME">Usuario:</label>
        <input asp-for="USERNAME" class="form-control" />
        <span asp-validation-for="USERNAME" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="ID_COUNTRY"></label>
        <select class="form-control" asp-for="ID_COUNTRY">
            @foreach (var countries in ViewBag.countries)
            {
                <option value="@countries.ID_COUNTRY"> @countries.NAME</option>
            }
        </select>
        <span asp-validation-for="EMAIL" style="color:red"></span>
    </div>
    <div class="form-group">
        <p style="color:red">La contraseña debe de ser igual para poder habilitar los terminos y condiciones</p>
    </div>
    <div class="form-group">
        <label asp-for="PASSWORD" class="form-label">Contraseña:</label>
        <input asp-for="PASSWORD" onchange="ValidatePassword()" type="password" class="form-control" />
        <span asp-validation-for="PASSWORD" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label">Confirmar Contraseña:</label>
        <input type="password" onchange="ValidatePassword()" id="txtPassword" class="form-control" />
    </div>
    <div class="form-group mb-5">
        <div class="custom-control custom-checkbox">
            <input type="checkbox"
                   onclick="javascript:validar(this);"
                   false=""
                   class="custom-control-input"
                   id="terms" />
            <label class="custom-control-label"
                   for="terms">Acepto los <a href="#">Términos y Condiciones</a></label>
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-primary mb-2"
                id="btnCrearCuenta"
                type="submit">
            Crear cuenta de Profesor(a)
        </button><br>
        <a class="text-body text-underline"
           asp-controller="Authentication" asp-action="Login">¿Ya tiene una cuenta? Iniciar Sesión</a>
    </div>
    @{
        if (@ViewBag.mensaje == "SUCCESS")
        {
            @Html.Raw("<script> $(document).ready(function() {\r\n         alertaSuccess();\r\n      });       </script>")
            ;

        }
        if (@ViewBag.mensaje == "ERROR")
        {
            @Html.Raw("<script> $(document).ready(function() {\r\n         alertaError();\r\n      });       </script>")
            ;

        }

        if (@ViewBag.mensaje != "ERROR" && @ViewBag.mensaje != "SUCCESS" && @ViewBag.mensaje != null && @ViewBag.mensaje != "")
        {
            @Html.Raw("<script> $(document).ready(function() {\r\n         alertaUsuario();\r\n      });       </script>")
            ;

        }
    }
</form>



<script>
    const btnCrearCuenta = document.getElementById('btnCrearCuenta');
    const txtTerminos = document.getElementById('terms');
    btnCrearCuenta.disabled = true;
    txtTerminos.disabled = true;


    //Función que compara ambas contraseñas
    function ValidatePassword() {

        const PASSWORD = document.getElementById('PASSWORD');
        const txtPassword = document.getElementById('txtPassword');
        console.log("Password", PASSWORD)
        console.log("txtPassword", txtPassword)
        if (PASSWORD.value == txtPassword.value) {
            txtTerminos.disabled = false;
        } else {
            txtTerminos.disabled = true;
        }

    }
    //Función que valida terminos y condiciones
    function validar(obj) {
        if (obj.checked == true) {
            btnCrearCuenta.disabled = false;
        } else {
            btnCrearCuenta.disabled = true;
        }
    }
</script>