@model IEnumerable<KURZ.Entities.TeacherGradesView>


@{
    ViewData["Title"] = "Evaluación Docente";
    Layout = "_TeacherH";
    var averageRating = Model.FirstOrDefault()?.AverageRating;
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center">Evaluaciones</h4>
        <br />
        <table id="TableTeacherGrades" class="table tableSmall">
            <thead>
                <tr>
                    <th class="text-center" style="display:none"></th>
                    <th class="text-center">
                        Calificación
                    </th>
                    <th class="text-center">
                        Comentario
                    </th>
                    <th class="text-center">
                        Estudiante
                    </th>
                    <th class="text-center">
                        Profesor
                    </th>
                    <th class="text-center">
                        Tema
                    </th>
                    <th class="text-center">
                        Categoría
                    </th>
                    <th class="text-center">
                        Subcategoría
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center" style="display: none;">
                            @Html.DisplayFor(modelItem => item.ID_GRADE)
                        </td>
                        <td class="text-center">
                            <i class="fa fa-star"></i>
                            @Html.DisplayFor(modelItem => item.GRADE)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.COMMENTARY)
                        </td class="text-center">
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.TeacherName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Topic)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Subcategory)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <td colspan="8" class="text-right"><strong>Promedio:</strong></td>
        <td class="text-center">
            @if (averageRating != null)
            {
                @Html.DisplayFor(modelItem => averageRating)
                <i class="fa fa-star"></i>
            }
            else
            {
                <span>No hay calificaciones</span>
            }
        </td>
    </div>
</div>