
@model IEnumerable<KURZ.Entities.Price_Topics_Teacher>
@{
    ViewData["Title"] = "Mis Temas";
    Layout = "_TeacherH";
}
<form asp-action="CreateTopicTeacher">
    <div class="form-row align-items-center">
        <div class="form-group col-md-2">
            <label for="ID_CATEGORY" class="form-label">Categorías</label>
            <select id="ID_CATEGORY" class="form-control">
                <option value="">Seleccione una categoría</option>
                @foreach (var categories in ViewBag.categories)
                {
                    <option value="@categories.ID_CATEGORY"> @categories.NAME</option>
                }
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="ID_SUBCATEGORY" class="form-label">Subcategorías</label>
            <select id="ID_SUBCATEGORY" class="form-control">
                <option value="">Seleccione una subcategoría</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="ID_TOPIC" class="form-label">Tema</label>
            <select id="ID_TOPIC_NEW" name="ID_TOPIC_NEW" class="form-control">
                <option value="">Seleccione un tema</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="ADD_PRICE" class="form-label">Precio</label>
            <input type="text" id="ADD_PRICE" name="ADD_PRICE" class="form-control" placeholder="Ingrese un precio">
        </div>
        <div class="col-md-1 buttons-vertical-flex-end">
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    Agregar
                </button>
            </div>
        </div>
        <!--Campo Oculto-->
        <input id="ID_TEACHER_NEW" name="ID_TEACHER_NEW" type="hidden" readonly value="@ViewBag.ID_TEACHER" />
    </div>
</form>
@{
    if (@ViewBag.mensaje == "SUCCESS")
    {
    @Html.Raw("<script> $(document).ready(function() {\r\n         alertaSuccess();\r\n      });       </script>")
        ;

    }
    if (@ViewBag.mensaje == "EXISTS")
    {
    @Html.Raw("<script> $(document).ready(function() {\r\n         alertaExists();\r\n      });       </script>")
        ;

    }
    if (@ViewBag.mensaje == "ERROR")
    {
    @Html.Raw("<script> $(document).ready(function() {\r\n         alertaError();\r\n      });       </script>")
        ;

    }
}
<div class="page-separator">
    <div class="page-separator__text"></div>
</div>
<div class="table-responsive">
    @if (Model.Count() == 0)
                 {
        <p>Aun no a agregado temas en los cuales desea impartir Asesorías</p>
    }
    else
    {
        <table id="TableList2" class="table table-bordered table-striped">
            <h4 class="card-title text-center">Temas</h4>
            <thead class="bg-primary text-white">
                <tr>
                    <th class="text-center" style="color: white;">@Html.DisplayNameFor(model => model.TOPIC_NAME)</th>
                    <th class="text-center" style="color: white;">@Html.DisplayNameFor(model => model.PRICE)</th>
                    <th class="text-center" style="color: white;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@item.TOPIC_NAME</td>
                        <td class="text-center">@item.PRICE</td>

                        <td class="acciones">

                            <a class="btn btn-primary editTopicTeacher" data-id="@item.ID_PRICE_TOPIC">
                                <i class="material-icons">create</i>
                            </a>

                            <a class="btn btn-accent deleteTopicTeacher" data-id="@item.ID_PRICE_TOPIC">
                                <i class="material-icons">close</i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div class="modal" tabindex="1" role="dialog" id="editTopicTeacher" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Tema</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="editTopicTeacherbody" class="modal-body">
            </div>
            <div class="modal-footer form-group buttons">
                <button type="button" class="btn btn-accent pull-left" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button"
                        class="btn btn-primary" id="editTopicTeacherConfirm" disabled>
                    Confirmar
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>


<div class="modal" tabindex="1" role="dialog" id="deleteTopicTeacher" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Tema</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="deleteTopicTeacherbody" class="modal-body">
            </div>
            <div class="modal-footer form-group buttons">
                <button type="button" class="btn btn-accent pull-left" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button"
                        class="btn btn-primary" id="deleteTopicTeacherConfirm">
                    Confirmar
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>


<script>
    $(document).ready(function () {

        $('#ID_TOPIC').select2();

        $('#ADD_PRICE').mask('0000000000', { reverse: true });

        $(document).on('change', '#ID_CATEGORY', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            var id_category = $(this).val();
            $.ajax({
                url: '/Topics/SubcategoriesByCategory/' + id_category,
                type: 'POST',
                data: {
                    ID_CATEGORY: id_category
                },
                success: function (data) {
                    $('#ID_SUBCATEGORY').html('');
                    $('#ID_SUBCATEGORY').append('<option value="0">Todas</option>');

                    $.each(data, function (key, value) {
                        $('#ID_SUBCATEGORY').append('<option value="' + value.iD_SUBCATEGORY + '">' + value.name + '</option>');
                    });

                    get_topics_cat_sub();
                },
                error: function () {
                    debugger;
                }
            });

            check_select_topic_and_price();
        });

        $(document).on('change', '#ID_SUBCATEGORY', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            get_topics_cat_sub();
            check_select_topic_and_price();
        });

        $(document).on('change', '#ID_TOPIC_NEW', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            check_select_topic_and_price();
        });

        $(document).on('keyup', '#ADD_PRICE', function () {
            check_select_topic_and_price();
        });

        $(document).on('keyup', '#PRICE', function () {
            check_topic_and_price_edit();
        });

        function check_select_topic_and_price() {
            var topic = $('#ID_TOPIC_NEW').val();
            var price = $('#ADD_PRICE').val();
            
            if (topic !== '' && topic !== '0' && price !== '') {
                $('#SUBMIT_CREATE_TOPIC_PRICE').prop('disabled', false);
                $('#SUBMIT_CREATE_TOPIC_PRICE').attr('disabled', false);
            } else { 
                $('#SUBMIT_CREATE_TOPIC_PRICE').prop('disabled', true);
                $('#SUBMIT_CREATE_TOPIC_PRICE').attr('disabled', true);
            }
        }

        function check_topic_and_price_edit() {
            var price = $('#PRICE').val();

            if (price !== '') {
                $('#editTopicTeacherConfirm').prop('disabled', false);
                $('#editTopicTeacherConfirm').attr('disabled', false);
            } else {
                $('#editTopicTeacherConfirm').prop('disabled', true);
                $('#editTopicTeacherConfirm').attr('disabled', true);
            }
        }

        function get_topics_cat_sub() {
            var id_category = $('#ID_CATEGORY').val();
            var id_subcategory = $('#ID_SUBCATEGORY').val();

            $.ajax({
                url: '/Topics/TopicsByCatSub/',
                type: 'POST',
                data: {
                    ID_CATEGORY: parseInt(id_category),
                    ID_SUBCATEGORY: parseInt(id_subcategory),
                },
                success: function (data) {
                    $('#ID_TOPIC_NEW').html('');
                    $('#ID_TOPIC_NEW').append('<option value="">Seleccione un Tema</option>');

                    $.each(data, function (key, value) {
                        $('#ID_TOPIC_NEW').append('<option value="' + value.iD_TOPIC + '">' + value.name + '</option>');
                    });

                },
                error: function () {
                    debugger;
                }
            });
        }

        //edit topic
        $(document).on('click', '.editTopicTeacher', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            var id_price_topic = $(this).data('id');

            $.ajax({
                url: '/PriceTopic/EditTopicTeacher/' + id_price_topic,
                type: 'GET',
                success: function (data) {
                    $('#editTopicTeacherbody').html(data);
                    $('#editTopicTeacher').modal('show');
                    $("#editTopicTeacher").appendTo("body");
                    check_topic_and_price_edit();
                },
                error: function () {
                    alert("Hubo un problema para obtener los datos")
                }
            });
        });

        //edit topic confirm
        $(document).on('click', '#editTopicTeacherConfirm', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            var id_price_topic = $('#ID_PRICE_TOPIC').val();
            var price = $('#PRICE').val();
            var id_teacher = $('#ID_TEACHER').val();
            var id_topic = $('#ID_TOPIC').val();

            $.ajax({
                url: '/PriceTopic/EditTopicTeacher/',
                type: 'POST',
                data: {
                    ID_PRICE_TOPIC: id_price_topic,
                    PRICE: price,
                    ID_TEACHER: id_teacher,
                    ID_TOPIC: id_topic
                },
                success: function (data) {

                    $('#editTopicTeacher').modal('hide');
                    alertaSuccessEdit();

                },
                error: function () {
                    alertaErrorEdit();
                }
            });
        });


        //delete topic
        $(document).on('click', '.deleteTopicTeacher', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            var id_price_topic = $(this).data('id');

            $.ajax({
                url: '/PriceTopic/DeleteTopicTeacher/' + id_price_topic,
                type: 'GET',
                success: function (data) {
                    $('#deleteTopicTeacherbody').html(data);
                    $('#deleteTopicTeacher').modal('show');
                    $("#deleteTopicTeacher").appendTo("body");
                },
                error: function () {
                    alert("Hubo un problema para obtener los datos")
                }
            });
        });

        //delete topic confirm
        $(document).on('click', '#deleteTopicTeacherConfirm', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            var id_price_topic = $('#ID_PRICE_TOPIC').val();

            $.ajax({
                url: '/PriceTopic/DeleteTopicTeacher/',
                type: 'POST',
                data: {
                    ID_PRICE_TOPIC: id_price_topic,
                },
                success: function (data) {

                    $('#deleteTopicTeacher').modal('hide');
                    alertaSuccessDelete();

                },
                error: function () {
                    alertaErrorDelete();
                }
            });
        });

    });

    $(document).ready(function () {
        $('#TableList2').DataTable({
            "lengthMenu": [[5, 10, 15], [5, 10, 15]],
            "searching": false,
            "ordering": false,
            "info": true,
            "pagingType": "simple",
            "language": {
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                }
            }
        });
    });

    function alertaSuccess() {
        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: 'Tema agregado.',
            text: 'Tema agregado a sus temas por impartir.',
            timer: 3000,
            showConfirmButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/PriceTopic/TopicsListTeacher';
            }
        });
        setTimeout(() => {
            window.location.href = '/PriceTopic/TopicsListTeacher';
        }, 3000);
    }

    function alertaExists() {
        Swal.fire({
            position: 'top-center',
            icon: 'error',
            title: 'No se agrego el tema.',
            text: 'Ya tiene agregado este tema para impartir.',
            showConfirmButton: true
        })
    }

    function alertaError() {
        Swal.fire({
            position: 'top-center',
            icon: 'error',
            title: 'Tema no creado.',
            text: 'Hubo un error al crear agregar el tema a impartir.',
            showConfirmButton: true
        })
    }

    function alertaSuccessEdit() {
        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: 'Tema editado.',
            text: 'Tema para impartir editado',
            timer: 3000,
            showConfirmButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/PriceTopic/TopicsListTeacher';
            }
        });
        setTimeout(() => {
            window.location.href = '/PriceTopic/TopicsListTeacher';
        }, 3000);
    }

    function alertaErrorEdit() {
        Swal.fire({
            position: 'top-center',
            icon: 'error',
            title: 'Tema no creado.',
            text: 'Hubo un error al editar el tema para impartir.',
            showConfirmButton: true
        })
    }

    function alertaSuccessDelete() {
        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: 'Tema eliminado.',
            text: 'Tema para impartir eliminado.',
            timer: 3000,
            showConfirmButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/PriceTopic/TopicsListTeacher';
            }
        });
        setTimeout(() => {
            window.location.href = '/PriceTopic/TopicsListTeacher';
        }, 3000);
    }

    function alertaErrorDelete() {
        Swal.fire({
            position: 'top-center',
            icon: 'error',
            title: 'Tema no creado.',
            text: 'Hubo un error al eliminar el tema para impartir.',
            showConfirmButton: true
        })
    }

</script>