@model IEnumerable<KURZ.Entities.Categories>
@{
    ViewData["Title"] = "Categorías";
    Layout = "_Admin";
}
<div class="row mb-2">
    <div class="col-auto">
        <a class="btn btn-outline-primary" asp-controller="Topics" asp-action="CreateCategorie">Crear Categoría</a>
    </div>
</div>
<div class="card mb-lg-32pt">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Categorías</h4>
                <br />
                <table id="TableCategories" class="table tableSmall">
                    <thead>
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(model => model.NAME)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.DESCRIPTION)</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td class="text-center">@item.NAME</td>
                                <td class="text-center">@item.DESCRIPTION</td>

                                <td class="acciones">

                                    <a class="btn btn-primary" asp-controller="Topics" asp-route-ID="@item.ID_CATEGORY" asp-action="EditCategorie">
                                        <i class="material-icons">create</i>
                                    </a>


                                    @if (@item.ID_CATEGORY != 1)
                                    {
                                        <a class="btn btn-accent deleteCategory" data-id="@item.ID_CATEGORY">
                                            <i class="material-icons">close</i>
                                        </a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal" tabindex="1" role="dialog" id="deleteCategory" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Categoría</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="deteleteCategorybody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accent pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button"
                        class="btn btn-primary" id="deleteCategoryConfirm">
                    Confirmar
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<script>
    $(document).ready(function () {

        //delete
        $(document).on('click', '.deleteCategory', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            var id_category = $(this).data('id');

            $.ajax({
                url: '/Topics/DeleteCategorie/' + id_category,
                type: 'GET',
                success: function (data) {
                    $('#deteleteCategorybody').html(data);
                    $('#deleteCategory').modal('show');
                    $("#deleteCategory").appendTo("body");
                },
                error: function () {
                    alert("Hubo un problema para eliminar la categoría")
                }
            });
        });

        //delete user confirm
        $(document).on('click', '#deleteCategoryConfirm', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            var id_category = $('#ID_CATEGORY').val();

            $.ajax({
                url: '/Topics/DeleteCategorie/' + id_category,
                type: 'POST',
                data: {
                    ID_CATEGORY: id_category
                },
                success: function (data) {

                    if (data === "ERROR") {
                        alertaError();
                    } else {
                        $('#deleteCategory').modal('hide');
                        alertaSuccess();
                    }

                },
                error: function () {
                    alertaError();
                }
            });
        });


        function alertaSuccess() {
            Swal.fire({
                position: 'top-center',
                icon: 'success',
                title: 'Categoría eliminada.',
                text: 'Categoría eliminada correctamente',
                timer: 5000,
                showConfirmButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Topics/CategoriesList';
                }
            });
            setTimeout(() => {
                window.location.href = '/Topics/CategoriesList';
            }, 5000);
        }

        function alertaError() {
            Swal.fire({
                position: 'top-center',
                icon: 'error',
                title: 'Categoría no eliminada.',
                text: 'Hubo un error al eliminar la categoría',
                showConfirmButton: true
            })
        }
    });
</script>    