@model IEnumerable<KURZ.Entities.TopicsView>
@{
    ViewData["Title"] = "Temas";
    Layout = "_Admin";
}
<div class="row mb-2">
    <div class="col-auto">
        <a class="btn btn-outline-primary" asp-controller="Topics" asp-action="Create">Crear Tema</a>
    </div>
</div>
<div class="card mb-lg-32pt">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Temas</h4>
                <br />
                <table id="TableList" class="table tableSmall">
                    <thead>
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(model => model.NAME)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.DESCRIPTION)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.CATEGORY)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.SUBCATEGORY)</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td class="text-center">@item.NAME</td>
                                <td class="text-center">@item.DESCRIPTION</td>
                                <td class="text-center">@item.CATEGORY</td>
                                <td class="text-center">@item.SUBCATEGORY</td>

                                <td class="acciones">

                                    <a class="btn btn-dark detailsTopic" data-id="@item.ID_TOPIC">
                                        <i class="material-icons">remove_red_eye</i>
                                    </a>

                                    <a class="btn btn-primary" asp-controller="Topics" asp-route-ID="@item.ID_TOPIC" asp-action="EditTopic">
                                        <i class="material-icons">create</i>
                                    </a>  

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal" tabindex="1" role="dialog" id="detailsTopic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalles Usuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="detailsTopicbody" class="modal-body">
            </div>
            <div class="modal-footer form-group buttons">
                <button type="button" class="btn btn-accent pull-left" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div class="modal" tabindex="1" role="dialog" id="deleteTopic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Tema</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="deleteTopicbody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accent pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button"
                        class="btn btn-primary" id="deleteTopicConfirm">
                    Confirmar
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<script>
    $(document).ready(function () {
        //details
        $(document).on('click', '.detailsTopic', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            var id_topic = $(this).data('id');

            $.ajax({
                url: '/Topics/TopicDetails/' + id_topic,
                type: 'GET',
                success: function (data) {
                    $('#detailsTopicbody').html(data);
                    $('#detailsTopic').modal('show');
                    $("#detailsTopic").appendTo("body");
                },
                error: function () {
                    alert("Hubo un problema para obtener los datos")
                }
            });
        });

        //delete
        $(document).on('click', '.deleteTopic', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();


            var id_topic = $(this).data('id');

            $.ajax({
                url: '/Topics/DeleteTopic/' + id_topic,
                type: 'GET',
                success: function (data) {
                    $('#deleteTopicbody').html(data);
                    $('#deleteTopic').modal('show');
                    $("#deleteTopic").appendTo("body");
                },
                error: function () {
                    alert("Hubo un problema para eliminar el tema")
                }
            });
        });

        //delete user confirm
        $(document).on('click', '#deleteTopicConfirm', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            var id_topic = $('#ID_TOPIC').val();

            $.ajax({
                url: '/Topics/DeleteTopic/' + id_topic,
                type: 'POST',
                data: {
                    ID_TOPIC: id_topic
                },
                success: function (data) {

                    $('#deleteTopic').modal('hide');
                    alertaSuccess();

                },
                error: function () {
                    alertaError();
                }
            });
        });


        function alertaSuccess() {
            Swal.fire({
                position: 'top-center',
                icon: 'success',
                title: 'Tema eliminado.',
                text: 'Tema eliminado correctamente',
                timer: 5000,
                showConfirmButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Topics';
                }
            });
            setTimeout(() => {
                window.location.href = '/Topics';
            }, 5000);
        }

        function alertaError() {
            Swal.fire({
                position: 'top-center',
                icon: 'error',
                title: 'Tema no eliminado.',
                text: 'Hubo un error al eliminar el tema',
                showConfirmButton: true
            })
        }
    });
</script>    