@model IEnumerable<KURZ.Entities.TeacherTopicsView>
@{
    ViewData["Title"] = "Profesores por Tema";
    Layout = "_StudentH";
}
<div class="card mb-lg-32pt">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Lista de Profesores</h4>
                <br />
                <table id="TableList" class="table tableSmall">
                    <thead>
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(model => model.TeacherName)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.AvgGrade)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.TeacherCountry)</th>
                             <th class="text-center">@Html.DisplayNameFor(model => model.NAME)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.Price)</th>
                           
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@item.TeacherName</td>
                                <td class="text-center">@item.AvgGrade</td>
                                <td class="text-center">@item.TeacherCountry</td>
                                <td class="text-center">@item.NAME</td>
                                <td class="text-center">@item.Price</td>

                                <td>

                                   <div class="col text-center">
                                    @* CAMBIAR DIRECCION DE LA PAGINA Y ENVIAR EL ID DEL USER*@
                                    <a asp-controller="#" asp-action="#" class="btn btn-primary" asp-route-id="#">Buscar Horario</a>
                                </div> 

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


   
