@model IEnumerable<KURZ.Entities.TeacherTopicsView>
@{
    ViewData["Title"] = "Profesores por Tema";
    Layout = "_StudentH";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-outline-secondary" onclick="goBack()">
                <i class="fa fa-arrow-left me-2"></i> Atrás
            </button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <h3 class="card-title text-center">Lista de Profesores</h3>
    <table id="TableTopicsByT" class="table table-bordered table-striped">
        <thead class="bg-primary text-white">
            <tr>
                <th class="text-center" style="color: white;">@Html.DisplayNameFor(model => model.TeacherName)</th>
                <th class="text-center" style="color: white;">@Html.DisplayNameFor(model => model.AvgGrade)</th>
                <th class="text-center" style="color: white;">@Html.DisplayNameFor(model => model.TeacherCountry)</th>
                <th class="text-center" style="color: white;">@Html.DisplayNameFor(model => model.NAME)</th>
                <th class="text-center" style="color: white;">@Html.DisplayNameFor(model => model.Price)</th>
                <th class="text-center" style="color: white;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <a href="@Url.Action("TeacherAccount", "Teacher", new { id = item.ID_TEACHER })">@item.TeacherName</a>
                        </td>
                        <td class="text-center">@item.AvgGrade <i class="fa fa-star"></i></td>
                        <td class="text-center">@item.TeacherCountry</td>
                        <td class="text-center">@item.NAME</td>
                        <td class="text-center">₡ @item.Price</td>
                        <td>
                            <div class="col text-center">
                                <a href="/Advices/CreateAdvice/?te=@item.ID_TEACHER&to=@item.ID_TOPIC"
                                   class="btn btn-success search-schedule" data-topic="@item.ID_TOPIC"
                                   data-teacher="@item.ID_TEACHER" data-price="@item.Price">Buscar Horario</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@if (@ViewBag.mensaje == "ERROR")
{
    @Html.Raw("<script> $(document).ready(function() { alertaError(); }); </script>")
    ;
}
<script>
    function alertaError() {
        Swal.fire({
            position: 'top-center',
            icon: 'error',
            title: 'Profesores no encontrados.',
            text: 'Lo sentimos, de momento no hay profesores para este tema.',
            timer: 3000,
            showConfirmButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Student/Advice/';
            }
        });
        setTimeout(() => {
            window.location.href = '/Student/Advice/';
        }, 3000);
    }
</script>

<script>

    function goBack() {
        window.history.back();
    }

    $(document).ready(function () {
        $('#TableTopicsByT').DataTable({
            "lengthMenu": [[5, 10, 15], [5, 10, 15]],
            "searching": false,
            "ordering": false,
            "info": true,
            "pagingType": "simple",
            "language": {
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                }
            }
        });
    });
</script>