@model IEnumerable<KURZ.Entities.TopicsView>
@{
    ViewData["Title"] = "Asesorías";
    Layout = "_StudentH";
}

<head>
    <style>
        .color-square {
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
           
        }
    </style>
</head>

<form method="post" asp-controller="Topics" asp-action="Search">
    <div class="form-row align-items-center">
        <div class="form-group col-md-4">
            <label for="ID_CATEGORY" class="form-label">Categorías</label>
            <select id="ID_CATEGORY" name="idCategory" class="form-control">
                <option value="0">Todos</option>
                @foreach (var category in ViewBag.categories)
                {
                    <option value="@category.ID_CATEGORY">@category.NAME</option>
                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="ID_SUBCATEGORY" class="form-label">Subcategorías</label>
            <select id="ID_SUBCATEGORY" name="IdSubcategory" class="form-control">
                <option value="">Seleccione una subcategoría</option>
            </select>
        </div>
        <div class="col-md-1 buttons-vertical-flex-end">
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    Buscar
                </button>
            </div>
        </div>
        <!-- Campos ocultos para ID_CATEGORY y ID_SUBCATEGORY -->
        <input type="hidden" id="hiddenID_CATEGORY" name="idCategory" value="ID_CATEGORY">
        <input type="hidden" id="hiddenID_SUBCATEGORY" name="IdSubcategory" value="ID_SUBCATEGORY">
    </div>
</form>





<div id="cardContainer">
    <div class="card mb-lg-32pt">
        <div class="page-section"></div>
        <div class="container page__container">
            @if (!string.IsNullOrEmpty(ViewBag.SelectedCategoryName))
            {
                <div class="page-separator">
                    <div class="page-separator__text">@ViewBag.SelectedCategoryName</div>
                </div>
            }
            else
            {
                <div class="page-separator">
                    <div class="page-separator__text">Todos los temas</div>
                </div>
            }

            <div class="container">
                <div class="row">
                    @foreach (var topic in Model)
                    {
                        <div class="col-sm-6">
                            <div class="card text-center mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">@topic.NAME</h5>
                                    <p class="card-text">@topic.SUBCATEGORY</p>
                                    <p class="card-text">@topic.DESCRIPTION</p>
                                    <a asp-controller="Topics" asp-action="TopicsByTeacher" class="btn btn-primary" asp-route-id="@topic.ID_TOPIC" asp-route-id="@topic.ID_CATEGORY">Buscar Profesor</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>






<script>
    $(document).ready(function () {
        // Manejar el cambio en el select de categorías
        $('#ID_CATEGORY').change(function () {
            var categoryId = $(this).val();
            // Lógica para cargar las subcategorías relacionadas con la categoría seleccionada
            // Usar AJAX para obtener las subcategorías y actualizar el select de subcategorías
            // Una vez que se hayan cargado las subcategorías,  habilitar el botón de búsqueda si se ha seleccionado una categoría válida
            $('#buscar').prop('disabled', categoryId === '');
        });

        // Manejar el cambio en el select de subcategorías
        $('#ID_SUBCATEGORY').change(function () {
            var subcategoryId = $(this).val();
            // Habilitar el botón de búsqueda si se ha seleccionado una subcategoría válida
            // $('#buscar').prop('disabled', subcategoryId === '');
        });
    });

    $(document).on('change', '#ID_CATEGORY', function (event) {
        event.preventDefault();
        event.stopImmediatePropagation();

        var id_category = $(this).val();
        $.ajax({
            url: '/Topics/SubcategoriesByCategory/' + id_category,
            type: 'POST',
            data: {
                ID_CATEGORY: id_category
            },
            success: function (data) {
                $('#ID_SUBCATEGORY').html('');
                $('#ID_SUBCATEGORY').append('<option value="0">Todas</option>');

                $.each(data, function (key, value) {
                    $('#ID_SUBCATEGORY').append('<option value="' + value.iD_SUBCATEGORY + '">' + value.name + '</option>');
                });

                get_topics_cat_sub();
            },
            error: function () {
                debugger;
            }
        });

    });

</script>
