@model IEnumerable<KURZ.Entities.GetAdvicesByTeacherId_Result>

@{
    ViewData["Title"] = "Historial Asesorías";
    Layout = "_StudentH";
}

<head>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <style>
        .rating label {
            color: #087a90;
            font-size: 24px;
            cursor: not-allowed;
        }

    </style>
</head>

<div class="table-responsive">
    <table id="myTable" class="table table-bordered table-striped">
        <thead class="bg-primary text-white">
            <tr>
                <th style="color: white;">Asesoria</th>
                <th style="color: white;">Estudiante</th>
                <th style="color: white;">Estado</th>
                <th style="color: white;">Fecha</th>
                <th style="color: white;">Costo</th>
                <th style="color: white;">Calificacion Profesor:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <small class="js-lists-values-type text-50">
                            @Html.DisplayFor(modelItem => item.TOPICNAME)
                        </small>
                    </td>
                    <td>
                        <small class="js-lists-values-type text-50">
                            @Html.DisplayFor(modelItem => item.STUDENTNAME)
                        </small>
                    </td>
                    <td>
                        <small class="js-lists-values-type text-50">
                            @Html.DisplayFor(modelItem => item.STATUSNAME)
                        </small>
                    </td>
                    <td>
                        <small class="js-lists-values-type text-50">
                            @Html.DisplayFor(modelItem => item.DateAdviceFormat)
                        </small>
                    </td>
                    <td>
                        <small class="js-lists-values-type text-50">₡ @Html.DisplayFor(modelItem => item.PRICE)</small>
                    </td>
                    <td>
                        @if (item.GRADE != 0)
                        {
                            <!-- Mostrar la calificación del profesor si está disponible -->
                            <p class="rating">
                                @for (int i = 0; i < item.GRADE; i++)
                                {
                                    <label><i class="fas fa-star"></i></label>
                                }
                                @for (int i = item.GRADE; i < 5; i++)
                                {
                                    <label><i class="far fa-star"></i></label>
                                }
                            </p>

                        }
                        else if (item.STATUSNAME == "Emitida")
                        {
                            <!-- Mostrar el botón "Más detalles" si no hay calificación disponible -->
                            <a asp-controller="Teacher" asp-action="RateTeacher" asp-route-id="@item.ID_ADVICE"
                               class="btn btn-primary">
                                Más detalles
                            </a>
                        }
                        else
                        {
                            <p>Calificacion no disponible aun.</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/star-rating.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/css/star-rating.min.css"
          rel="stylesheet">



    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "lengthMenu": [[5, 10, 15], [5, 10, 15]],
                "searching": false,
                "ordering": false,
                "info": true,
                "pagingType": "simple",
                "language": {
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    }
                }
            });
        });
    </script>




}