@model IEnumerable<KURZ.Entities.GetAdvicesByTeacherId_Result>
@{
    ViewData["Title"] = "Historial de asesorías";
    Layout = "_StudentH";
}

<div class="card mb-lg-32pt">
    <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-date"
        data-lists-sort-desc="true"
        data-lists-values='["js-lists-values-name", "js-lists-values-department", "js-lists-values-status", "js-lists-values-type", "js-lists-values-phone", "js-lists-values-date"]'>

        <table class="table mb-0 thead-border-top-0 table-nowrap">
            <thead>
                <tr>
                    <th>
                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Asesoría</a>
                    </th>
                    <th style="width: 150px;">
                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-department">Profesor</a>
                    </th>
                    <th style="width: 48px;">
                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-status">Estado</a>
                    </th>
                    <th style="width: 48px;">
                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-type">Fecha</a>
                    </th>
                    <th style="width: 48px;">
                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-type">Costo</a>
                    </th>
                    <th style="width: 48px;">
                        <a href="javascript:void(0)" data-sort="js-lists-values-type">Calificar profesor</a>
                    </th>
                    <th style="width: 24px;"></th>
                </tr>
            </thead>
            <tbody class="list" id="advices">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <small class="js-lists-values-type text-50">@Html.DisplayFor(modelItem =>
                            item.TOPICNAME)</small>
                        </td>
                        <td>
                            <small class="js-lists-values-type text-50">@Html.DisplayFor(modelItem =>
                            item.TEACHERNAME)</small>
                        </td>
                        <td>
                            <small class="js-lists-values-type text-50">@Html.DisplayFor(modelItem =>
                            item.STATUSNAME)</small>
                        </td>
                        <td>
                            <small class="js-lists-values-type text-50">@Html.DisplayFor(modelItem =>
                            item.DateAdviceFormat)</small>
                        </td>
                        <td>
                            <small class="js-lists-values-type text-50">@Html.DisplayFor(modelItem => item.PRICE)</small>
                        </td>
                        <td>
                            <a asp-controller="Teacher" asp-action="RateTeacher" data-id="@item.ID_ADVICE" class="btn btn-primary"> 
                                Más detalles
                            </a>
                        </td>
                        <td class="text-right"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    
@section Scripts {
    <script>
       
    </script>
}