@using Microsoft.AspNetCore.Http
@model KURZ.Entities.Users
@{
    ViewData["Title"] = "Perfil";
    Layout = "_Student";
    var photo = Context.Session.Get("USER_PHOTO");
}


<div class="page-section bg-secondary account">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
        @if (photo.Length > 0 && photo != null)
        {
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(photo)" class="mr-md-32pt mb-32pt mb-md-0 rounded-circle border-3"
                 width="90"
                 height="90"
                 alt="instructor" />
        }
        else
        {
            <span class="avatar avatar-xl mr-8pt2">
                <span class="avatar-title rounded-circle bg-primary"><i class="material-icons">account_box</i></span>
            </span>
        }
       <div class="flex mb-32pt mb-md-0">
    <h2 class="text-white mb-0"><span id="icono-saludo" class="material-icons mr-8pt" style="font-size: 45px;"></span><span id="saludo"></span>, @Model.NAME @Model.LASTNAME</h2>
    <h4 class="text-white mb-0">Estudiante</h4>
</div>

        <a asp-controller="Student" asp-action="Edit"
           class="btn btn-outline-white">Editar</a>
    </div>
</div>

<div class="page-section bg-white">
    <div class="container page__container page-section">
        <div class="page-headline text-center">
            <h2>Perfil del Usuario</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-secondary shadow mb-4" style="border-radius: 20px;">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3 text-white" style="font-size: 20px;">Sobre mi:</h3>
                        <p class="card-text text-white" style="font-size: 18px;">@Model.PROFILE</p>
                    </div>
                </div>

                <div class="card bg-secondary shadow mb-4" style="border-radius: 20px;">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3 text-white" style="font-size: 20px;">Identificación:</h3>
                        <p class="card-text text-white" style="font-size: 18px;">@Model.IDENTICATION</p>
                    </div>
                </div>

                <div class="card bg-secondary shadow mb-4" style="border-radius: 20px;">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3 text-white" style="font-size: 20px;">Correo Electrónico:</h3>
                        <p class="card-text text-white" style="font-size: 18px;">@Model.EMAIL</p>
                    </div>
                </div>

                <div class="card bg-secondary shadow mb-4" style="border-radius: 20px;">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3 text-white" style="font-size: 20px;">País</h3>
                        <p class="card-text text-white" style="font-size: 18px;">
                            @foreach (var country in ViewBag.countries)
                            {
                                if (Model.ID_COUNTRY == country.ID_COUNTRY)
                                {
                                    <span>@country.NAME</span>
                                }
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var saludo = document.getElementById('saludo');
        var iconoSaludo = document.getElementById('icono-saludo');
        var hora = new Date().getHours();

        if (hora >= 6 && hora < 12) {
            saludo.textContent = "Buenos días";
            iconoSaludo.textContent = "wb_sunny"; // Icono de sol
        } else if (hora >= 12 && hora < 18) {
            saludo.textContent = "Buenas tardes";
            iconoSaludo.textContent = "brightness_5"; // Icono de sol
        } else {
            saludo.textContent = "Buenas noches";
            iconoSaludo.textContent = "nights_stay"; // Icono de luna
        }
    });
</script>
