@model KURZ.Entities.UsersBinding
@{
    ViewData["Title"] = "Registro de Estudiantes";
    Layout = "_Authentication";
}

<form asp-action="RegisterStudents" id="RegisterStudents" class="align-items-center">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="flex"
             style="max-width: 100%">

            <div class="form-group">
                <label class="form-label" asp-for="IDENTICATION"></label>
                <input asp-for="IDENTICATION" type="number" class="form-control" placeholder="Ingrese la identificacion" />
                <span asp-validation-for="IDENTICATION" style="color:red"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="NAME"></label>
                <input asp-for="NAME" type="text" class="form-control" placeholder="Ingrese un nombre para el usuario" />
                <span asp-validation-for="NAME" style="color:red"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="LASTNAME"></label>
                <input asp-for="LASTNAME" type="text" class="form-control" placeholder="Ingrese los apellidos" />
                <span asp-validation-for="LASTNAME" style="color:red"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="ID_COUNTRY"></label>
                <select class="form-control" asp-for="ID_COUNTRY">
                    <option value="">Seleccione un país</option>
                    @foreach (var countries in ViewBag.countries)
                    {
                        <option value="@countries.ID_COUNTRY"> @countries.NAME</option>
                    }
                </select>
                <span asp-validation-for="ID_COUNTRY" style="color:red"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="EMAIL"></label>
                <input asp-for="EMAIL" type="email" class="form-control" placeholder="Ingrese un correo electrónico" />
                <span asp-validation-for="EMAIL" style="color:red"></span>
            </div>
        <div class="form-group">
            <label asp-for="PASSWORD" class="form-label"></label>
            <div class="input-group" style="position: relative;">
                <input asp-for="PASSWORD" id="password" onchange="ValidatePassword()" type="password" class="form-control" placeholder="Ingrese su contraseña" />
                <div style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                    <i id="eyeIcon" class="fa fa-eye-slash" style="cursor: pointer;" onclick="togglePasswordVisibility()"></i>
                </div>
            </div>
            <span asp-validation-for="PASSWORD" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PASSWORD_REPEAT" class="form-label"></label>
            <div class="input-group" style="position: relative;">
                <input asp-for="PASSWORD_REPEAT" id="passwordRepeat" onchange="ValidatePassword()" type="password" class="form-control" placeholder="Ingrese su contraseña" />
                <div style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                    <i id="eyeIconRepeat" class="fa fa-eye-slash" style="cursor: pointer;" onclick="togglePasswordVisibilityRepeat()"></i>
                </div>
            </div>
            <span asp-validation-for="PASSWORD_REPEAT" class="text-danger"></span>
        </div>
            <div class="form-group mb-5">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                           onclick="javascript:validar(this);"
                           false=""
                           class="custom-control-input"
                           id="terms" />
                    <label class="custom-control-label"
                           for="terms">Acepto los <a href="#">Términos y Condiciones</a></label>
                </div>
            </div>
            <div class="form-group text-center">
            <button class="btn btn-primary mb-2" type="submit" id="btnCrearCuenta"> Crear cuenta de estudiante</button>
                <br>
                <a class="text-body text-underline"
                   asp-controller="Authentication" asp-action="Login">¿Ya tiene una cuenta? Iniciar Sesión</a>
            </div>
            @{
                if (@ViewBag.mensaje == "SUCCESS")
                {
                    @Html.Raw("<script> $(document).ready(function() {\r\n         alertaSuccess();\r\n      });       </script>")
                    ;

                }
                if (@ViewBag.mensaje == "ERROR")
                {
                    @Html.Raw("<script> $(document).ready(function() {\r\n         alertaError();\r\n      });       </script>")
                    ;

                }

                if (@ViewBag.mensaje != "ERROR" && @ViewBag.mensaje != "SUCCESS" && @ViewBag.mensaje != null && @ViewBag.mensaje != "")
                {
                    @Html.Raw("<script> $(document).ready(function() {\r\n         alertaUsuario();\r\n      });       </script>")
                    ;

                }
            }
        </div>
   </form>


<script>
    const btnCrearCuenta = document.getElementById('btnCrearCuenta');
    const txtTerminos = document.getElementById('terms');
    btnCrearCuenta.disabled = true;
    txtTerminos.disabled = true;

    const passwordInput = document.getElementById('password');
    const eyeIcon = document.getElementById('eyeIcon');

    //Función que compara ambas contraseñas
    function ValidatePassword() {

        const PASSWORD = document.getElementById('PASSWORD');
        const txtPassword = document.getElementById('PASSWORD_REPEAT');

        if (PASSWORD.value == txtPassword.value) {
            txtTerminos.disabled = false;
        } else {
            txtTerminos.disabled = true;
        }

    }
    //Función que valida terminos y condiciones
    function validar(obj) {
        if (obj.checked == true) {
            btnCrearCuenta.disabled = false;
        } else {
            btnCrearCuenta.disabled = true;
        }
    }

    function alertaSuccess() {
        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: 'Registro realizado.',
            text: 'Se ha realizado tu registro correctamente.',
            timer: 3000,
            showConfirmButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Authentication/Login';
            }
        });
        setTimeout(() => {
            window.location.href = '/Authentication/Login';
        }, 3000);
    }

    function alertaError() {
        Swal.fire({
            position: 'top-center',
            icon: 'error',
            title: 'Registro NO realizado',
            text: 'Hubo un error al hacer el registro.',
            showConfirmButton: true
        })
    }

    function alertaUsuario() {
        Swal.fire({
            position: 'top-center',
            icon: 'error',
            title: 'Registro NO realizado',
            text: '@ViewBag.mensaje',
            showConfirmButton: true
        })
    }

    
    //Función que muestra la contraseña
    function togglePasswordVisibility() {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        } else {
            passwordInput.type = 'password';
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        }
    }
    //Función que muestra la contraseña en repeat
    function togglePasswordVisibilityRepeat() {
        const passwordRepeatInput = document.getElementById('passwordRepeat');
        const eyeIconRepeat = document.getElementById('eyeIconRepeat');

        if (passwordRepeatInput.type === 'password') {
            passwordRepeatInput.type = 'text';
            eyeIconRepeat.classList.remove('fa-eye-slash');
            eyeIconRepeat.classList.add('fa-eye');
        } else {
            passwordRepeatInput.type = 'password';
            eyeIconRepeat.classList.remove('fa-eye');
            eyeIconRepeat.classList.add('fa-eye-slash');
        }
    }

 </script>