@model KURZ.Entities.Users
@{
    ViewData["Title"] = "Registro de Estudiantes";
    Layout = "_Authentication";
}

<form asp-action="RegisterStudents" id="RegisterStudents" class="align-items-center">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="flex"
             style="max-width: 100%">

            <div class="form-group">
                <label class="form-label" asp-for="IDENTICATION"></label>
                <input asp-for="IDENTICATION" type="number" class="form-control" placeholder="Ingrese la identificacion" />
                <span asp-validation-for="IDENTICATION" style="color:red"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="EMAIL"></label>
                <input asp-for="EMAIL" type="email" class="form-control" placeholder="Ingrese un correo electrónico" />
                <span asp-validation-for="EMAIL" style="color:red"></span>
            </div>
            <div class="form-group">

                <input asp-for="USERNAME" type="hidden" class="form-control" placeholder="Ingrese un usuario" />

            </div>
            <div class="form-group">
                <label class="form-label" asp-for="NAME"></label>
                <input asp-for="NAME" type="text" class="form-control" placeholder="Ingrese un nombre para el usuario" />
                <span asp-validation-for="NAME" style="color:red"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="LASTNAME"></label>
                <input asp-for="LASTNAME" type="text" class="form-control" placeholder="Ingrese los apellidos" />
                <span asp-validation-for="LASTNAME" style="color:red"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="ID_COUNTRY"></label>
                <select class="form-control" asp-for="ID_COUNTRY">
                    @foreach (var countries in ViewBag.countries)
                    {
                        <option value="@countries.ID_COUNTRY"> @countries.NAME</option>
                    }
                </select>
                <span asp-validation-for="EMAIL" style="color:red"></span>
            </div>
            <div class="form-group">
                <label asp-for="PASSWORD" class="form-label">Contraseña:</label>
                <input asp-for="PASSWORD" onchange="ValidatePassword()" type="password" class="form-control" placeholder="Ingrese su contraseña" />
                <span asp-validation-for="PASSWORD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Confirmar Contraseña:</label>
                <input type="password" onchange="ValidatePassword()" id="txtPassword" class="form-control" placeholder="Confirme su contraseña" />
                <p style="color:red">Las contraseñas deben coincidir para continuar</p>
            </div>
            <div class="form-group mb-5">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                           onclick="javascript:validar(this);"
                           false=""
                           class="custom-control-input"
                           id="terms" />
                    <label class="custom-control-label"
                           for="terms">Acepto los <a href="#">Términos y Condiciones</a></label>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary mb-2" type="submit"> Crear cuenta de estudiante</button>
                <br>
                <a class="text-body text-underline"
                   asp-controller="Authentication" asp-action="Login">¿Ya tiene una cuenta? Iniciar Sesión</a>
            </div>
            @{
                if (@ViewBag.mensaje == "SUCCESS")
                {
                    @Html.Raw("<script> $(document).ready(function() {\r\n         alertaSuccess();\r\n      });       </script>")
                    ;

                }
                if (@ViewBag.mensaje == "ERROR")
                {
                    @Html.Raw("<script> $(document).ready(function() {\r\n         alertaError();\r\n      });       </script>")
                    ;

                }

                if (@ViewBag.mensaje != "ERROR" && @ViewBag.mensaje != "SUCCESS" && @ViewBag.mensaje != null && @ViewBag.mensaje != "")
                {
                    @Html.Raw("<script> $(document).ready(function() {\r\n         alertaUsuario();\r\n      });       </script>")
                    ;

                }
            }
        </div>
   </form>


<script>
    const btnCrearCuenta = document.getElementById('btnCrearCuenta');
    const txtTerminos = document.getElementById('terms');
    btnCrearCuenta.disabled = true;
    txtTerminos.disabled = true;

    //Función que compara ambas contraseñas
    function ValidatePassword() {

        const PASSWORD = document.getElementById('PASSWORD');
        const txtPassword = document.getElementById('txtPassword');
        console.log("Password", PASSWORD)
        console.log("txtPassword", txtPassword)
        if (PASSWORD.value == txtPassword.value) {
            txtTerminos.disabled = false;
        } else {
            txtTerminos.disabled = true;
        }

    }
    //Función que valida terminos y condiciones
    function validar(obj) {
        if (obj.checked == true) {
            btnCrearCuenta.disabled = false;
        } else {
            btnCrearCuenta.disabled = true;
        }
    }

    function alertaSuccess() {
        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: 'Registro realizado.',
            text: 'Se ha realizado tu registro correctamente.',
            timer: 3000,
            showConfirmButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Authentication/Login';
            }
        });
        setTimeout(() => {
            window.location.href = '/Authentication/Login';
        }, 3000);
    }

    function alertaError() {
        Swal.fire({
            position: 'top-center',
            icon: 'error',
            title: 'Registro NO realizado',
            text: 'Hubo un error al hacer el registro.',
            showConfirmButton: true
        })
    }

    function alertaUsuario() {
        Swal.fire({
            position: 'top-center',
            icon: 'error',
            title: 'Registro NO realizado',
            text: '@ViewBag.mensaje',
            showConfirmButton: true
        })
    }
 </script>