@model KURZ.Entities.Users
@{
    ViewData["Title"] = "Detalles";
    Layout = null;
}
@if (Model == null)
{
    @switch (Convert.ToInt32(ViewData["Error"]))
    {
        case 1:
            <h3>Identicador no es valido o no se encontro</h3>
            break;
        case 2:
            <h3>El usuario que busca no fue encontrado</h3>
            break;
    }
}
else
{
    <div class="page-separator">
        <div class="page-separator__text">@Model.NAME @Model.LASTNAME</div>
    </div>
    <div class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1">
        <div class="card-body d-flex flex-column">
            <div class="d-flex align-items-center">
                <div class="flex">
                    <p><strong>Identificación: </strong>@Model.IDENTICATION</p>
                    <p><strong>Usuario: </strong>@Model.USERNAME</p>
                    <p><strong>Nombre: </strong>@Model.NAME</p>
                    <p><strong>Apellidos: </strong>@Model.LASTNAME</p>
                    <p><strong>Correo electrónico: </strong>@Model.EMAIL</p>
                    <p><strong>Confirmación:</strong>
                        @{
                            if (@Model.CONFIRMATION == true)
                            {
                                @Html.Raw("El usuario ya confirmo la cuenta")
                                ;

                            }
                            else
                            {
                                @Html.Raw("El usuario no a confirmado la cuenta")
                                ;
                            }
                        }

                    </p>
                    <p>
                        <strong>Estado:</strong>
                        @{
                            if (@Model.STATUS == true)
                            {
                                @Html.Raw("Activo")
                                ;

                            }
                            else
                            {
                                @Html.Raw("Inactivo")
                                ;
                            }
                        }

                    </p>
                </div>
            </div>
        </div>
    </div>
}