@model KURZ.Entities.UsersBindingEdit
@{
    ViewData["Title"] = "Editar Usuario";
    Layout = "_Admin";
}
@if (Model == null)
{
    @switch (Convert.ToInt32(ViewData["Error"]))
    {
        case 1:
            <h3>Identicador no es valido o no se encontro</h3>
            break;
        case 2:
            <h3>El usuario que busca no fue encontrado</h3>
            break;
    }
}
else
{
    <div class="page-separator">
        <div class="page-separator__text">@Model.NAME @Model.LASTNAME</div>
    </div>
    <div class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1">
        <div class="card-body d-flex flex-column">
            <form asp-action="Edit" class="align-items-center">
                <div asp-validation-summary="ModelOnly"></div>

                <input asp-for="ID_USER" type="hidden" class="form-control" readonly />

                <div class="flex"
                     style="max-width: 100%">

                    <div class="form-group">
                        <label class="form-label" asp-for="IDENTICATION"></label>
                        <input asp-for="IDENTICATION" type="number" class="form-control" placeholder="Ingrese la identificacion" />
                        <span asp-validation-for="IDENTICATION" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="NAME"></label>
                        <input asp-for="NAME" type="text" class="form-control" placeholder="Ingrese un nombre para el usuario" />
                        <span asp-validation-for="NAME" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="LASTNAME"></label>
                        <input asp-for="LASTNAME" type="text" class="form-control" placeholder="Ingrese los apellidos" />
                        <span asp-validation-for="LASTNAME" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="EMAIL"></label>
                        <input asp-for="EMAIL" type="email" class="form-control" placeholder="Ingrese un correo electrónico" />
                        <span asp-validation-for="EMAIL" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="PASSWORD"></label><span>(Dejar en blanco para no cambiar la contraseña)</span>
                        <input asp-for="PASSWORD" type="password" class="form-control" placeholder="Ingrese una contraseña" />
                        <span asp-validation-for="PASSWORD" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="PASSWORD_REPEAT"></label><span>(Dejar en blanco para no cambiar la contraseña)</span>
                        <input asp-for="PASSWORD_REPEAT" type="password" class="form-control" placeholder="Repetir contraseña" />
                        <span asp-validation-for="PASSWORD_REPEAT" style="color:red"></span>
                    </div>

                    <div class="form-group">
                        <label class="form-label" asp-for="STATUS"></label>
                        @{
                            <select class="form-control" id="STATUS" name="STATUS">
                                <option value="true" selected="@(Model.STATUS == true)">Activo</option>
                                <option value="false" selected="@(Model.STATUS == false)">Inactivo</option>
                            </select>
                        }
                    </div>

                    <div class="form-group buttons">
                        <a asp-controller="Users" asp-action="Index" class="btn btn-accent">
                            Cancelar
                        </a>
                        <button type="submit"
                                class="btn btn-primary">
                            Editar
                        </button>
                    </div>
                    @{
                        if (@ViewBag.mensaje == "SUCCESS")
                        {
                            @Html.Raw("<script> $(document).ready(function() {\r\n         alertaSuccess();\r\n      });       </script>")
                            ;

                        }
                        if (@ViewBag.mensaje == "ERROR")
                        {
                            @Html.Raw("<script> $(document).ready(function() {\r\n         alertaError();\r\n      });       </script>")
                            ;

                        }
                    }
                </div>
            </form>
        </div>
    </div>
    <script>

        function alertaSuccess() {
            Swal.fire({
                position: 'top-center',
                icon: 'success',
                title: 'Usuario editado.',
                text: 'Usuario editado correctamente',
                timer: 3000,
                showConfirmButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Users';
                }
            });
            setTimeout(() => {
                window.location.href = '/Users';
            }, 3000);
        }

        function alertaError() {
            Swal.fire({
                position: 'top-center',
                icon: 'error',
                title: 'Usuario no editado.',
                text: 'Hubo un error al editar el usuario',
                showConfirmButton: true
            })
        }

    </script>
}