@model IEnumerable<KURZ.Entities.Users>
@{
    ViewData["Title"] = "Usuarios";
    Layout = "_Admin";
}
<div class="row mb-2">
    <div class="col-auto">
        <a class="btn btn-outline-primary" asp-controller="Users" asp-action="Create">Crear Usuario</a>
    </div>
</div>
<div class="card mb-lg-32pt">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Empleados</h4>
                <br />
                <table class="table table-responsive" id="TableUsers">
                    <thead>
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(model => model.IDENTICATION)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.USERNAME)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.NAME)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.LASTNAME)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.EMAIL)</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td class="text-center">@item.IDENTICATION</td>
                                <td class="text-center">@item.USERNAME</td>
                                <td class="text-center">@item.NAME</td>
                                <td class="text-center">@item.LASTNAME</td>
                                <td class="text-center">@item.EMAIL</td>



                                <td>
                                    <a class="btn btn-dark" asp-controller="Users" asp-action="Details">
                                        <i class="material-icons">remove_red_eye</i>
                                    </a>
                                    <a class="btn btn-primary" asp-controller="Users" asp-action="Edit">
                                        <i class="material-icons">create</i>
                                    </a>

                                    <a class="btn btn-accent" asp-controller="Users" asp-action="Delete">
                                        <i class="material-icons">close</i>
                                    </a>
                                </td>


                            </tr>



                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>