@{
    ViewData["Title"] = "Solicitar Asesoría";
    Layout = "_StudentH";
}

<div class="row">
    <div class="col-md-4 p-0 mb-5">
        <div class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1">
            <div class="card-body d-flex flex-column">
                <div class="flex">
                    <div class="d-flex align-items-center">
                        <div class="rounded mr-12pt z-0 o-hidden">
                            <div class="overlay">
                                @if (ViewBag.user_photo != null)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(ViewBag.user_photo)"
                                         alt="people"
                                         id="profilePicturePreview"
                                         width="40"
                                         height="40"
                                         class="rounded-circle border" />
                                }
                                else
                                {
                                    <span class="avatar avatar-sm mr-8pt2">
                                        <span class="avatar-title rounded-circle bg-primary"><i class="material-icons">account_box</i></span>
                                    </span>
                                }
                            </div>
                         </div>
                        <div class="flex">
                            <div class="card-title">@ViewBag.teacherTopicDetail.TeacherName</div>
                            <p class="flex text-50 lh-1 mb-0"><small>@ViewBag.teacherTopicDetail.TeacherCountry</small></p>
                        </div>
                    </div>
                </div>
                <div class="rating mt-8pt">
                    @ViewBag.teacherTopicDetail.AvgGrade
                </div>
            </div>
            <div class="card-body d-flex flex-column justify-content-center">
                <div class="d-flex">
                    <div class="card-title">@ViewBag.teacherTopicDetail.NAME</div>
                </div>
                <div class="d-flex">
                    <div class="card-title price"><h4>₡ @ViewBag.teacherTopicDetail.Price</h4></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card stack stack--1">
            <div class="card-body">
                <form enctype="multipart/form-data">
                    <input type="hidden" id="PRICE" value="@ViewBag.teacherTopicDetail.Price" />
                    <input type="hidden" id="ID_TEACHER" value="@ViewBag.teacherTopicDetail.ID_TEACHER" />
                    <input type="hidden" id="ID_TOPIC" value="@ViewBag.teacherTopicDetail.ID_TOPIC" />
                    <input type="hidden" id="ID_STUDENT" value="@ViewBag.ID_STUDENT" />
                    <div class="row">
                        <div class="col-md-12 d-flex">
                            <div class="form-group seleccionar-fecha-asesoria col-md-6">
                                <label class="form-label" for="date-advice-select">Fecha de Asesoría</label>
                                <div class="form-group mb-0">
                                    <input id="date-advice-select"
                                           type="hidden"
                                           placeholder="Seleccionar Fecha"
                                           class="form-control flatpickr-input"
                                           data-toggle="flatpickr"
                                           value="today">
                                </div>
                            </div>
                            <div id="schedules" class="form-group col-md-6">
                                <label class="form-label" for="date-advice-select">Hora Asesoría</label>
                                <select id="DATA_ADVICE" name="DATA_ADVICE">
                                    <option value="">Seleccionar Hora</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex">
                            <div class="message"></div>
                        </div>
                    </div>
                    <div class="form-group buttons">
                        <button id="createAdviceSubmit" type="button"
                                class="btn btn-success">
                            Solicitar Asesoría
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var $dateAdviceSelect = $("#date-advice-select");
        var id_teacher = $('#ID_TEACHER').val();
        $('#DATA_ADVICE').select2({ width: '100%' });
        $('#createAdviceSubmit').prop('disabled', true);

        $dateAdviceSelect.flatpickr({
            minDate: "today",
            enable: [
                {
                    from: "today",
                    to: "2030-12-31"
                },
            ],
            locale : "es",
            altInput: true,
            dateFormat: "F j, Y",
            onChange: function (selectedDates, dateStr, instance) {
                //debugger;
                var dia = selectedDates[0].getDay();
                var dia_fecha = selectedDates[0].getDate();
                var mes = selectedDates[0].getMonth();
                var year = selectedDates[0].getFullYear();

                var fecha = year + "-" + mes + "-" + dia_fecha;

                if (dia == 0) {
                    dia = 7;
                }

                $.ajax({
                    url: '/Timesheets/FilterTimesheetHoursByTeacher/',
                    type: 'POST',
                    async: false, //se pone false para que sea sincronico, no continue hasta obtener respuesta
                    data: {
                        ID_TEACHER: parseInt(id_teacher),
                        ID_DIA: dia,
                        DATE_SELECTED: fecha
                    },
                    success: function (data) {
                        //debugger;
                        if (data !== null && data !== undefined && data !== '') {
                            $('.message').html('');
                            $('#DATA_ADVICE').select2('destroy');
                            $('#DATA_ADVICE').html('');
                            $('#DATA_ADVICE').append('<option value="">Seleccionar Hora</option>');
                            $(data).each(function (index, value) {
                                $('#DATA_ADVICE').append('<option value="' + value.iD_TIMESHEETHOURS + '" data-value="' + value.value + '">' + value.name + '</option>');
                            });
                            $('#DATA_ADVICE').select2({ width: '100%' });
                        } else {
                            $('#DATA_ADVICE').select2('destroy');
                            $('#DATA_ADVICE').html('');
                            $('#DATA_ADVICE').append('<option value="">Seleccionar Hora</option>');
                            $('#DATA_ADVICE').select2({ width: '100%' });
                            $('.message').html('');
                            $('.message').append('<h5>No hay horarios disponibles para el día seleccionado.</h5>');
                        }


                    },
                    error: function () {
                        $('#DATA_ADVICE').select2('destroy');
                        $('#DATA_ADVICE').html('');
                        $('#DATA_ADVICE').append('<option value="">Seleccionar Hora</option>');
                        $('#DATA_ADVICE').select2({ width: '100%' });
                        $('.message').html('');
                        $('.message').append('<h5>Hubo un error al obtener las horas disponibles para el día seleccionado.</h5>');
                    }
                });

                var date_advice_hour = $('#DATA_ADVICE').val();

                if (date_advice_hour !== '') {
                    $('#createAdviceSubmit').prop('disabled', false);
                }
            },
        });


        //change hour enable button
        $('#DATA_ADVICE').on('change', function () {
            var date_advice_hour = $(this).val();
            if (date_advice_hour !== '') {
                $('#createAdviceSubmit').prop('disabled', false);
            }
        });


        $('#createAdviceSubmit').on('click', function () {
            debugger;
            var date = $("#date-advice-select");
            var dateData = date[0]._flatpickr;
            var dateData = dateData.selectedDates;

            var dia_fecha = dateData[0].getDate();
            var mes = dateData[0].getMonth();
            var year = dateData[0].getFullYear();

            var fecha = year + "-" + mes + "-" + dia_fecha;
            //var dateData = flatpickr(date, config);
            var date_advice_hour = $('#DATA_ADVICE').find(':selected').data('value');

            var date_advice = fecha + ' ' + date_advice_hour;
        
            var price = $('#PRICE').val();
            price = parseFloat(price);
            //var id_teacher = $('#ID_TEACHER').val();
            var id_topic = $('#ID_TOPIC').val();
            var id_student = $('#ID_STUDENT').val();

            $.ajax({
                url: '/Advices/CreateAdvice/',
                type: 'POST',
                async: false, //se pone false para que sea sincronico, no continue hasta obtener respuesta
                data: {
                    dateAdvice: date_advice,
                    price: price,
                    idTeacher: parseInt(id_teacher),
                    idTopic: parseInt(id_topic),
                    idStudent: parseInt(id_student),
                },
                success: function (data) {
                    if (data === 'ok') {
                        alertaSuccess()
                    } else {
                        alertaError();
                    }
                },
                error: function () {
                    alertaError()
                }
            });

        });


    });

    function alertaSuccess() {
        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: 'Solicitud Creada.',
            text: 'Su solicitud de asesoría a sido creada correctamente, se le notificará cuando el profesor la acepte.',
            timer: 3000,
            showConfirmButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Advices/AdvicesStudent';
            }
        });
        setTimeout(() => {
            window.location.href = '/Advices/AdvicesStudent';
            window.location.href = '/Advices/AdvicesStudent';
        }, 3000);
    }


    function alertaError() {
        Swal.fire({
            position: 'top-center',
            icon: 'error',
            title: 'Error al crear la solicitud.',
            text: 'Hubo un error al crear la solicitud de asesoría, pongase en contacto con el administrador.',
            showConfirmButton: true
        })
    }
</script>

