@model IEnumerable<KURZ.Entities.GetAdvices_Result>

@{
    Layout = "_Admin";
}

<h1>Lista de Asesorías</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               Código de asesoría
            </th>
            <th>
                Fecha de asesoría
            </th>
            <th>
                Fecha de creación
            </th>
            <th>
                Fecha de actualización
            </th>
            <th>
                Link
            </th>
             <th>
                Precio
            </th>
            <th>
                Tema
            </th>
            <th>
                Descripción
            </th>
            <th>
                Profesor(a)
            </th>
            <th>
                Estudiante
            </th>
            <th>
                Estado
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_ADVICE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdviceFormat)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreateFormat)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdateFormat)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LINK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRICE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TOPICNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TOPICDESCRIPTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TEACHERNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STUDENTNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STATUSNAME)
                </td>
            </tr>
        }
    </tbody>
</table>
